name: Build Gmod Injector
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install DirectX SDK
        shell: powershell
        run: |
          $url = "https://download.microsoft.com/download/A/E/7/AE743F16-7F64-45B1-8576-7D83D17DB951/DXSDK_Jun10.exe"
          Invoke-WebRequest -Uri $url -OutFile "dxsdk.exe"
          Start-Process -FilePath "dxsdk.exe" -ArgumentList "/silent" -Wait

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1

      - name: Build Solution
        run: |
          msbuild GmodLuaInjector.sln /p:Configuration=Release /p:Platform=x64 /p:IncludePath="C:\Program Files (x86)\Microsoft DirectX SDK (June 2010)\Include;$(IncludePath)" /p:LibraryPath="C:\Program Files (x86)\Microsoft DirectX SDK (June 2010)\Lib\x64;$(LibraryPath)"

      - name: Upload DLL and Injector
        uses: actions/upload-artifact@v3
        with:
          name: GmodToolbox
          path: |
            x64/Release/GmodLuaInjector.dll
            x64/Release/Injector.exe
